body{
    text-align: center;
    margin: 0;
    /* padding: 0 20px; */
    font-family: 'Montserrat', sans-serif;
}

article,p,li,ul,h1,h2,h3{
    margin: 0;
    padding: 0;
}

a{
    border: none;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    /* background: red; */
    align-items: center;
    justify-content: space-between;
   }
   
   header .logo{
    text-align: left;
    padding: 10px 0;
   }
   
   header nav{
   
   
   }
   
   header nav a{
    margin: 0 10px;
   
   }
   
   header nav a:hover{
   
   
   }