body{
    text-align: center;
    margin: 0;
    /* padding: 0 20px; */
    font-family: 'Montserrat', sans-serif;
}

article,p,li,ul,h1,h2,h3{
    margin: 0;
    padding: 0;
}

a{
    border: none;
    color: black;
    text-decoration: none;
}

#container{                             
    width: calc(100vw - 40px);
    /* max-width: 1200px; */
    margin: 0 auto;
}

header{
    display: flex;
    /* background: red; */
    align-items: center;
    justify-content: space-between;
   }
   
   header .logo{
    text-align: left;
    padding: 10px 0;
   }
   
   header nav{
   
   
   }
   
   header nav a{
    margin: 0 10px;
   
   }
   
   header nav a:hover{
   
   
   }

   button, .button{
    border: none;
    outline: none;
    cursor: pointer;
    background: #000;
    color: #fff;
    padding: 7px;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 15px;
   }
   
   .sectionTitle{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
   }

   section{
    padding: 20px 0;
   }


   #intro{
    padding-top: 10vh;
}

#intro p{
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
}

#intro h1{
    padding: 0 25%;
    font-size: 26px;
    margin: 30px 0 20px;
}

#intro p:nth-child(3){
 font-weight: normal;
}